@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.bg {
    background-image: url(../projeto003/cafe.jpg);
    opacity: 50%;
}
.content {
    position: relative;
}
.content a {
    color: #a38068;
}
.content h2 {
    position: absolute;
    transform: translate( -50%, -50%);
    font-size: 8em;
}
.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.content h2:nth-child(2) {
    color: #a38068;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%, 100%{
        clip-path: polygon(0% 61%, 12% 54%, 31% 49%, 50% 51%, 70% 56%, 87% 52%, 100% 42%, 100% 99%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 41%, 11% 42%, 29% 50%, 47% 55%, 67% 52%, 85% 45%, 100% 38%, 100% 100%, 0% 100%);
    }
}